[Unit]
Description=To run the node application so that load balancer can access
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/kazi/.volta/bin/node /home/kazi/src/index.js
User=kazi
Group=kazi
Restart=always
RestartSec=10
TimeoutStopSec=90
SyslogIdentifier=hello_web

[Install]
WantedBy=multi-user.target