[Unit]
Description=Run the backup service(backing up files to a backup server at 1am every Friday

[Timer]
OnCalendar=Fri *-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
