[Unit]
Description=Run the gtwtr service(getting the weather) at 5am every day

[Timer]
OnCalendar=*-*-* 05:00:00
Persistent-true

[Install]
WantedBy=timers.target
